
.App-header {
  background-color: #fab845;
  background-image: linear-gradient(#fab845,rgba(252, 147, 254, 0.996) );
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

#rcorners3 {
  border-radius: 25px;
  border: 75px solid #61dafb;
  background-image: linear-gradient(#fab845,rgba(252, 147, 254, 0.996) );
  background-position: left top;
  background-repeat: repeat;
  padding: 200px;
  width: 900px;
  height: 175px;
}
.button {
  color: #61dafb;
}
